.todo-app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d75ec;
    height: 100vb;
}

.heading {
    color: #0a68d3;
}

.todo-app {
    margin: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 40%;
    height: 100vh;
    /* border-radius: 10%; */
}


form {
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding: 15px;

}

form input {
    width: 80%;
    border: none;
    border: 1.5px grey solid;
    line-height: 33px;
}

.add-button {
    width: max-content;
    height: 100%;
    border: none;
    border-radius: 5%;
    border: none;
    color: white;
    background-color: #0d75ec;
    border-radius: 10%;
    padding: 3%;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}